@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./constants.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: LFutura; */
  font-family: system-ui;
  font-size: large;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color1);
}

/* .container {
  max-width: 80%;
  margin: auto;
} */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--color1);
  /* text-transform: capitalize; */
  /* font-family: LFutura; */

  font-family: system-ui;
}

ul {
  list-style-type: none;
}

/* button {
  border-radius: 5px;
  padding: 17px 30px;
  background: #27ae60;
  border: none;
  color: var(--color1);
  cursor: pointer;
  font-weight: bold;
}

button i {
  margin-right: 5px;
} */

.heading {
  text-align: center;
  width: 60%;
  margin: auto;
}

.heading h1 {
  color: var(--color1);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
}

.heading p {
  color: var(--color2);
  font-weight: bold;
}

textarea,
input {
  border: none;
  outline: none;
  background: none;
}

.background {
  padding: 80px 0;
  position: relative;
  background: var(--color1);
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

label {
  color: var(--color1);
  font-size: 14px;
}

.mtop {
  margin-top: 50px;
}

h4 {
  font-weight: 500;
  margin-top: 10px;
}

.shadow {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}

.padding {
  padding: 80px 0;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btn2 {
  border-radius: 50px;
  font-size: 20px;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.btn3 {
  background: #ff6922;
  border-radius: 50px;
}

.btn4 {
  background-color: #000;
  color: var(--color1);
}

.btn5 {
  border-radius: 50px;
  padding: 20px 40px;
  color: #27ae60;
  font-size: 20px;
  font-weight: 400;
  border: 5px solid #27ae601f;
  background: var(--color1);
}

.back {
  height: 40vh;
  position: relative;
}

.back img {
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(17, 40, 72, 0.629);
  z-index: -1;
}

/* .back .container { */
.back {
  color: var(--color1);
  padding: 120px 0;
}

.back h1 {
  font-size: 40px;
  font-weight: 500;
}

.mb {
  margin-bottom: 80px;
}

.section-show {
  /* animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s; */
  transition: all 800ms ease;
  opacity: 1;
}

/* section{
  opacity: 0;
} */

@media screen and (max-width: 800px) {

  .grid4,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    width: 100%;
  }

  /* .container {
    max-width: 90%;
  } */

  .back::after,
  .back img,
  .back {
    height: 30vh;
  }
}

@font-face {
  font-family: "LFutura";
  src: local("LFutura"),
    url("./fonts/LFutura.ttf") format("truetype");
  font-weight: normal;
}