.service-box img{
    width: 80px;
    height: 50px;
}

.services .heading h1 {
    color: var(--color4);
}

.service-box ul {
    list-style: square;
    /* border-top: black solid 2px; */
}

.service-box{
    animation-name: fadeUp;
}