.service-box {
    background-color: transparent;
    /* width: 190px; */
    height: 254px;
    perspective: 1000px;
  }
  
  .inner-card-title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .service-box:hover .inner-card {
    transform: rotateY(180deg);
  }
  
  .front-side,
  .back-side {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }

  .front-side svg{
    font-size: xx-large;
  }
  
  .front-side,
  .front-side::before {
    /* background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%); */
    background: linear-gradient(43deg, rgb(120, 121, 126) 0%, rgb(49, 44, 49) 46%, rgb(0, 0, 0) 100%);
  }
  
  .back-side,
  .back-side::before {
    background-image: linear-gradient(160deg, var(--color3) 0%, var(--color3) 100%);
  }
  
  .back-side {
    transform: rotateY(180deg);
  }
  
  .front-side::before,
  .back-side::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }

  .service-card-container {
    position: relative;
    display: flex;
    /* max-width: 350px; */
    flex-direction: column;
    border-radius: 12px;
    background-color: var(--color4);
    border: 1px solid #fff;
    padding: 1.6rem;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  .service-card-header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    /* overflow: hidden; */
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .title {
    display: block;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
  }
  
  .price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-family: sans-serif;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .price-container span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .service-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .service-card-content-item {
    /* display: flex;
    align-items: center;
    gap: 10px; */
    text-align: -webkit-right;
    align-self: start;
  }
  
  .service-card-content-item span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
  }
  
  /* .service-card-content-item span svg {
    height: 12px;
    width: 12px;
  } */
  
  .service-card-content-item p {
    /* display: block; */
    font-family: sans-serif;
  }
  
  .service-card-button {
    margin-top: 20px;
    padding: 0;
  }
  
  .service-card-button button {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    color: var(--color4);
    outline: 0;
    border: 0;
    border-radius: 10px;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }

  @media screen and (max-width: 450px){
    .service-card-content-item{
      text-align: -webkit-center;
    }

    .service-card-content p{
      text-align: justify;
    }
} 