#header {
  background-color: transparent;
  transition: all 800ms ease;
}

#header {
  margin: 0 auto;
  z-index: 1100;
  background-color: var(--blue);
  margin-bottom: 0;
  z-index: 1100;
  position: fixed;
  top: 0;
  width: 100%; 
}

#header .container {
  z-index: 100;
  padding: 0px 0px 0px 0px;
  height: 90px;
  max-width: 986px;
  margin: 0 auto;
  position: relative;
}

#logo {
  position: relative;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* opacity: 0.01; */
}

#logo a {
  display: block;
  width: 132px;
  position: absolute;
  left: 0px;
  background-color: var(--black);
}

#logo img {
  margin: 26px auto 26px;
  display: block;
  height: 6rem;
  background-color: black;
  padding: 26px 0px 26px 0px;
}

.topicons {
  position: absolute;
  /* right: -5px; */
  right: -6rem;
  /* top: 31px; */
  top: 27px;
  /* display: block; */
}

.topicons a {
  color: var(--color4);
}

.nav-holder {
  z-index: 1100;
  margin: 0 auto;
  right: 0;
}

.show-full {
  display: block !important;
}

.nav {
  font-weight: 400;
  display: table;
  margin: 0 auto;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;

}

.nav>ul {
  height: 20px;
  display: table-row;
}

.nav ul {
  list-style: inside none none;
}

.clearfix {
  clear: both;
}

.nav>ul>li {
  padding-left: 40px;
  padding-right: 0px;
  display: table-cell;
  text-align: left;
}

.nav li {
  position: relative;
}

.nav li a {
  color: var(--color1);
  text-decoration: none;
  display: inline-block;
}

.nav>ul>li>a {
  height: 100%;
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
  color: #ffffff;
}

.nav>ul>li:hover>a,
.nav>ul:not( :hover)>li.active>a {
  color: var(--color4);
}

.nottop {
  background-color: rgba(255, 255, 255, 0.98) !important;
}

.nottop li a {
  color: var(--color4) !important;
}

@media only screen and (min-width: 1150px) {
  .nav {
    position: absolute;
    left: 210px;
    top: 35px;
  }

  .nav>ul>li>a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
  }

  .nav>ul>li:hover>a,
  .nav>ul:not( :hover)>li.active>a {
    background-size: 100% 1px;
  }
}