.contact form div {
  display: flex;
}

.contact{
  overflow-x: hidden;
}

.contact textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  max-height: 200px
}

.contact input {
  margin-bottom: 20px;
  margin-right: 10px;
}

.contact form {
  padding: 30px;
  border-radius: 40px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .contact h4 {
    width: 100%;
    margin-bottom: 30px;
  }

  .contact form div {
    flex-direction: column;
  }

  .contact input {
    width: 100%;
  }
}

/* .contactinfo {
  border: 2px solid black
} */

.contact-info {
  /* position: absolute; */
  right: 0;
  top: -50px;
  width: 300px;
  background-color: var(--black);
  padding: 20px 25px 20px 45px;
  transform-style: preserve-3d;
  font-weight: 400;
  border-radius: 0;
  /* font-weight: bold; */
  color: #ffffff;
  font-size: 15px;
  z-index: 1;
  padding: 50px;
}

.alignItems {
  display: flex;
  justify-content: space-between;
}
/* .leftline {
  margin-top: 60px;
  border-left: 1px solid #000000;
  height: 500px;
  padding-top: 101px;
} */

.leftline {
  padding-left: 0px;
  border-bottom: 1px solid var(--color4);
  border-right: 1px solid var(--color4);
  border-top: 1px solid var(--color4);
  margin-top: 94px;
  border-left: 1px solid var(--color4);
  height: 416px;
  width: 300px;
  padding-top: 10px;
  background-color: var(--color4);
  margin-left: 125px;
}

.contact-info a {
  color: #ffffff;
  font-size: 13px;
  /* font-weight: bold; */
}

.svgfacebook a {
  font-size: 30px
}

.title {
  font-size: 28px;
  color: rgb(82, 88, 107);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(82, 88, 107);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(82, 88, 107);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .leftline {
    width: 50% !important;
    margin-top: 5rem!important;
}
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

div input {
  opacity: 0.5
}